{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn p-2 text-white text-2xlbg-[#3dc361]  bg-[#3dc361]   hover:bg-[#ff8904] focus:ring-4 focus:ring-[#ff8904]  rounded">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
