<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        {% block body %}
 
        
        {% endblock %}
    </body>
</html>

<!-- Exercices Apprendres Symfony - Pokedex
https://www.figma.com/proto/QqmOnuXmZ6l6pAH35E3Hut/Exercice-Pokedex-Symfony?node-id=1-2&t=Pp17uf6fCczRyMYh-1&scaling=contain&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=1%3A2&show-proto-sidebar=1
Exercice 1 Mardi 11
Implémenter en statique(HTML/CSS) la première maquette qui affiche plusieurs Pokémon avec Symfony (pas d'accès à la Bdd ici)
Pré-requis : 
symfony new
symfony console make:controller
Twig block, for
tailwind Symfony & composer require

Exercice 2 Mercredi 15
Ajouter des pokemon dans la base de données avec l'EntityRepository et modifier la page d'accueil pour que les pokémons affichés proviennent  de la BDD
erDiagram
Pokemon{
  id INT
  name STRING,
  imageUrl STRING
}

Pré-requis : 
symfony console make:entity
symfony console make:migration
symfony console doctrine:migrations:migrate
.env SQQLITE
sqlbrowser
Exercice 3 Jeudi 16
Implementer la page d'ajout grâce à symfony console make:crud ou make:form
Pré-requis : 
symfony console make:crud
tailwind
Twig

Exercice 4
Ajouter la connexion et l'authentification voir cours Auth sur mon github et les liens de la doc
Associer les pokemons ajouter à un utilisateur pour qu'il soit personnel et donc visible uniquement au dresseur qui la ajouté.
User hasMany Pokemon
Pokemon belongToOne User
Figma
Exercice Pokedex Symfony
Created with Figma -->
